/bin
/gen-src
build/
.project
.classpath
.settings/
*.iml
.idea
target/
build-transient-src/
web-build/
dist/
build.properties
out/
.DS_store
imhotep-server/src/main/native/optimized_ftgs/optimized/obj
imhotep-server/src/main/native/optimized_ftgs/optimized/cppobj
