<aside>
  <h3 data-toc-skip>Getting Started</h3>
  <a href="{{ site.baseurl }}/">Introduction</a>
  {% include docs_ul.html items='quick-start data-file-requirements terminology' %}
  <h3 data-toc-skip>IQL Syntax</h3>
  {% include docs_ul.html items='overview timerange filtering aggregating metrics pivot shortcuts' %}
   <h3 data-toc-skip>Application Usage</h3>
  {% include docs_ul.html items='sample-data sample-queries troubleshooting' %}
  <h3 data-toc-skip>Miscellaneous</h3>
  {% include docs_ul.html items='contributing license' %}  
</aside>
